
      body {
        background-image: url('images/trooper.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
		display: flex;
		flex-direction: row-reverse;
      }
	  
	  h1{
		  color:white;
		  font-family: "Verdana", Sansserif;
		  font-weight: bold;
	  }
	  
	  h2{
		  color:white;
		  font-family: "Verdana", Sansserif;
		  font-weight: bold;
	  }
	  
	  p{
		   font-family: "Georgia", Sansserif;
	  }
	  
	  iframe{
		  border:none;
	  }
	  
	  table{
		  width:70%;
	  }
	  
	  
     
