
      body {
        background-image: url('images/back.jfif');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
	
      }

	  .welcome{
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: none;
		font-family: "Verdana", 'Times New Roman', Times, serif;
		font-weight: bolder;
		font-size: 30px;
	
	  }

	  .Intro-Container{
		  display: flex;
		  flex-direction: column;
		  flex-wrap: nowrap;
		  font-family: "Verdana", Sansserif;
		  font-weight: bold;
		  align-items: flex-end;
	  }

	  
	  .Intro_1{
		 
		flex: 1;
		order: 1;
		
	 }
	  .Intro_2{
		 flex: 1;
		 order: 3;
	  }
	  .Intro_3{
		flex: 1;
		order: 2;
	 }

	 .blockchain{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: center;		
	 }

	 .blockchainText{
		font-family: "Verdana", Sansserif;
		font-weight: bold;
	
	 }

	 .blockchainImage{
		flex-wrap: nowrap;
		 opacity: 0.5; /*makes the image transparent*/
	 }

	

	 div > p{
		 color: black;
		 font-weight: normal;
	 }

	

	 table > tr{
	
		font-weight: bold;
	 }

	

	  .videos{
		position: relative;
		overflow: hidden;
		padding-top: 56.25%;
	}

	.iframeVid1{
		position: absolute;
		left: 70%;
		top: 75%;
		width: 33%;
		height: 30%;
		border: 0;			/*to let border (frame) disapear*/
	}
	.iframeVid2{
		position: absolute;
		left: 70%;
		top: 110%;
		width: 33%;
		height: 30%;
		border: 0;			/*to let border (frame) disapear*/
	}
	.iframeVid3{
		position: absolute;
		left: 70%;
		top: 145%;
		width: 33%;
		height: 30%;
		border: 0;			/*to let border (frame) disapear*/
	}


	  ul {
		  
		  margin: 0;
		  padding: 0;
		  list-style-type: georgian;
	  }

	  li {
		  
		  display: inline-block;
		  margin: 20px;
	  }
	  


	  
	
	  
     
