
      body {
        background-image: url('images/trooper.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
	
      }

	  header {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
  
		font-family: "Verdana", Sansserif;
		font-weight: bold;
	  }

	  .Intro{
		  display: flex;
		  flex-direction: column;
		  flex-wrap: nowrap;
	
		  font-family: "Verdana", Sansserif;
		  font-weight: bold;
	  }

	  
	  .Intro_1{
		flex: 1;
		order: 1;
	 }


	  .Intro_2{
		 flex: 1;
		 order: 2;
	  }

	  .Intro_3{
		flex: 1;
		order: 3;
	 }

	  
	  ul {
		  
		  margin: 0;
		  padding: 0;
		  list-style-type: none;
	  }

	  li {
		  
		  display: inline-block;
		  margin: 20px;
	  }
	  
	  h1{
		  color:white;
		  font-family: "Verdana", Sansserif;
		  font-weight: bold;
	  }
	  
	  h2{
		  color:white;
		  font-family: "Verdana", Sansserif;
		  font-weight: bold;
	  }
	  
	  p{
		   font-family: "Georgia", Sansserif;
	  }
	  
	  iframe{
		  border:none;
	  }
	  
	  table{
		  width:70%;
	  }
	  
	  
     
